# Use true for a local SQLite development database.
# Use false when running on EC2 with the shared RDS database.
USE_SQLITE=false

DB_NAME=radio
DB_USER=admin
DB_PASSWORD=db oassword
DB_HOST=127.0.0.1
DB_PORT=3307

# in order to get the tunnel set up, run the following command after you have generated a ssh key like this:
# ssh-keygen -t ed25519
# then you have to run the command: ssh -i <path-to-private-key-file-generated> -N -L 3307:cpsc454.ct6u4eim44ua.us-east-2.rds.amazonaws.com:3306 -p 22 ec2-user@18.118.107.158

