USE_SQLITE=false

DB_NAME=radio
DB_USER=admin
DB_PASSWORD=replace_with_database_password
DB_HOST=replace_with_rds_endpoint
DB_PORT=3306

DJANGO_SECRET_KEY=replace_with_django_secret
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1