# ignore the venv file (i named my venv file .venv)

*.venv


#ignoring sqlite3 file that is generated with django

*.sqlite3


#ignore dev vscode settings

*.vscode

#ignore local environment/secrets file

.env
